@import url("global.css");
@import url("index.css");

header {
    display: flex;
    border-bottom: solid 1px var(--cinza-escuro);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 3%;
    position: sticky;
    top: 0;
    background-color: var(--light);
    z-index: 100;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 22px;
}

.package-icon {
    background-color: transparent;
    padding: 0;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.header-right-conectado {
    color: var(--cinza-escuro);
}

.header-right-conectado,
.header-right-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.header-right-logout a {
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.header-sair-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    text-decoration: none;
}

.header-sair-btn:hover {
    background-color: rgb(225, 225, 225);
    transition: ease 0.1s;
}

.material-symbols-outlined-logout,
.material-symbols-outlined-dashboard,
.material-symbols-outlined-add {
    font-family: 'Material Symbols Outlined';

    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;

    font-size: 18px;
    justify-content: center;
    border-radius: 10px;
}

.main-content-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.main-topo {
    display: flex;
    position: relative;
    align-items: center;
    margin: 40px 0;
    justify-content: space-between;
    width: 94%;
    font-size: 16px;
}

.main-topo-search {
    position: relative;
    display: flex;
    align-items: center;
}

.main-topo-search input {
    border: solid var(--cinza-escuro) 1px;
    border-radius: 8px;
    height: 30px;
    padding-left: 35px;
    font-size: 12px;
    width: 300px;
}

.main-topo-search .search-icon {
    position: absolute;
    left: 5px;
    font-size: 18px;
    color: var(--cinza-escuro);
    pointer-events: none;
    background-color: transparent;
}

.main-topo-add-btn {
    display: flex;
    border: none;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--acqua);
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

table {
    border: 1px solid var(--cinza-escuro);
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 15px;
    width: 94%;
    overflow: hidden;
}

thead {
    background-color: var(--light);
    border-radius: 15px;
}

thead th {
    font-size: 16px;
    padding: 7px 15px;
    border-bottom: 1px solid var(--cinza-escuro);
}

thead th:hover{
    cursor: pointer;
    background-color: var(--acqua);
    color: white;
    transition: ease 0.1s;
}

thead th:last-child {
    text-align: right;
}

tbody td {
    font-size: 20px;
    padding: 15px;
    border-bottom: 1px solid var(--cinza-escuro);
}

tr:nth-child(even) {
    background-color: var(--light);
}

/* tira o border do ultimo elemento da tabela evitando erro visual */
tr:last-child td {
    border-bottom: none;
}

tbody tr:hover {
    border-color: var(--laranja);
    transition: ease 0.1s;
}

.table-actions {
    display: flex;
    gap: 8px;
    justify-content: right;
}

.table-edit-btn {
    cursor: pointer;
    display: flex;
    border: solid 1px var(--cinza-escuro);
    gap: 4px;
    font-size: 16px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    color: black;
    padding: 8px 10px;
}

.edit-icon {
    font-family: 'Material Symbols Outlined';
    color: black;
    background-color: transparent;
    justify-content: center;
    padding: 0;
    font-size: 16px !important;
}

.table-remove-btn {
    cursor: pointer;
    display: flex;
    border: none;
    gap: 4px;
    font-size: 16px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    padding: 8px 10px;
}

.remove-icon {
    font-family: 'Material Symbols Outlined';
    color: white;
    background-color: transparent;
    padding: 0;
    font-size: 16px !important;
}